body { min-width: 600px; }

/* Search */
.input-tiny {
	width: 35px;
	text-align: center;
}
.input-full {
	width: 80%;
	text-align: center;
}
div.search {
	text-align: center;
}
div.search form {
	margin: 10px 0;
}

/* Table */
.items {
	margin-bottom: 35px;
}
.items td:first-child {
	padding-left: 0;
}
.items td {
	vertical-align: middle;
}
.hidden {
	display: none;
}

.noresults, .error, .action {
	position: fixed;
	bottom: 0px;
	margin-bottom: 0px;
	margin-top: 20px;
	width: 100%;
	text-align: center;
	font-weight: bold;
}
.noresults, .error {
	z-index: 3;
}
.action {
	z-index: 1;
	padding-top: 5px;
	background: #ededed;
}

/* Bootstrap overrides */
select.input-small {
	width: 100px;
}

div.action form, div.action label {
	margin-bottom: 0px;
}
